<div>
    <ul class="nav nav-pills">
        <li class="nav-item active">
            <a class="my-blue-nav-item" data-target="#image-settings-position-{{file.id}}"
               data-toggle="tab">Position</a>
        </li>
        <li class="nav-item">
            <a class="my-blue-nav-item" data-target="#image-settings-scale-{{file.id}}"
                data-toggle="tab">Scale</a>
        </li>
        <li class="nav-item">
            <a class="my-blue-nav-item" data-target="#image-settings-rotate-{{file.id}}"
                data-toggle="tab">Rotate</a>
        </li>
    </ul>
    <div class="tab-content left-blue-contour">
        <div class="tab-pane active" id="image-settings-position-{{file.id}}">
            <div class="bottom-blue-border">
                <b>Wrapping style</b>
                <br><br>
                <select ng-options="p for p in positionsWithinText"
                        ng-model="file.settings.wrappingStyle">
                </select><br>
            </div>
            <div ng-show="file.settings.wrappingStyle != 'Left' && file.settings.wrappingStyle != 'Middle' && file.settings.wrappingStyle != 'Right'">
                <b>Position</b>
                <br><br>
                <input type="radio" name="position" ng-model="file.settings.absolutePosition" data-ng-value="false">Set position from ...<br>
                <!--<select ng-show="pos == 'predefined'" class="image-picker show-html" ng-model="pdfSettings.imageWatermark.positionPredefined">
                    <option data-img-src="../database/small/TOP_LEFT.png" data-img-class="first" data-img-alt="Page 1" value="TOP_LEFT">Top left</option>
                    <option data-img-src="../database/small/TOP_CENTER.png" data-img-alt="Page 2" value="TOP_CENTER">Top center</option>
                    <option data-img-src="../database/small/TOP_RIGHT.png" data-img-alt="Page 2" value="TOP_RIGHT">Top right</option><br><br>
                    <option data-img-src="../database/small/MIDDLE_LEFT.png" data-img-alt="Page 2" value="MIDDLE_LEFT">Middle left</option>
                    <option data-img-src="../database/small/CENTER.png" data-img-alt="Page 2" value="CENTER">Middle Center</option>
                    <option data-img-src="../database/small/MIDDLE_RIGHT.png" data-img-alt="Page 9" value="MIDDLE_RIGHT">Middle right</option><br>
                    <option data-img-src="../database/small/BOTTOM_LEFT.png" data-img-alt="Page 10" value="BOTTOM_LEFT">Bottom left</option>
                    <option data-img-src="../database/small/BOTTOM_CENTER.png" data-img-alt="Page 11" value="BOTTOM_CENTER">Bottom center</option>
                    <option data-img-src="../database/small/BOTTOM_RIGHT.png" data-img-alt="Page 12" data-img-class="last" value="BOTTOM_RIGHT">Bottom right</option>
                </select>-->
                <div class="margin-bottom margin-top" ng-show="file.settings.absolutePosition == false">
                    <select ng-options="p for p in positions"
                            ng-model="file.settings.positionPredefined">
                    </select><br>
                </div>

                <input type="radio" name="position" ng-model="file.settings.absolutePosition" data-ng-value="true">Set absolute position
                <div id="position-absolute-inputs-blue" ng-show="file.settings.absolutePosition == true">
                    <div class="my-blue-left-border">
                        <a class="btn btn-sm btn-link" data-toggle="collapse" data-target="#sizes-info">Sizes info</a>
                        <div class="collapse" id="sizes-info">
                            <div class="my-card-box light-blue">
                                <b>A4 page</b> size: 595x842 px <br>(Your page may not be A4)
                                <br>
                                <b>{{file.settings.fileName}}</b> size: {{file.settings.width}}x{{file.settings.height}} px
                            </div>
                        </div>
                    </div>

                    <div class="input-group margin-bottom">
                        <span class="input-group-addon">x</span>
                        <input class="form-control my-input-sm" type="number" ng-model="file.settings.positionAbsolute.x">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">y</span>
                        <input class=" my-input-sm form-control" type="number" ng-model="file.settings.positionAbsolute.y">
                    </div>
                    <div>
                        <span class="text-primary">x = 0 means left of page.<br> y = 0 means bottom of page</span>
                    </div>
                </div>
            </div>
        </div>

        <!--Scale-->
        <div class="tab-pane margin-left" id="image-settings-scale-{{file.id}}">
            <div class="bottom-blue-border">
                <input type="checkbox" ng-model="file.settings.fitToPage" value="true">Fit to page
            </div>
            <div ng-show="file.settings.fitToPage == false">
                <input id="my-slider" class="my-slider" type="range" name="scale" min="1" max="300" value="100"
                       ng-model="file.settings.scale">
                <div class="input-group scale-40 margin-top margin-bottom">
                    <input id="input-scale-{{file.id}}" class="my-input-sm form-control" type="number" ng-model="file.settings.scale">
                    <span class="input-group-addon scale-addon">%</span>
                </div>
            </div>

        </div>
        <!--Rotate-->
        <div class="tab-pane margin-left" id="image-settings-rotate-{{file.id}}">
            Rotate:
            <input class="my-input-sm form-control inline margin-bottom" type="number" min="0" max="360" ng-model="file.settings.rotationDegrees">
            <div>
                <span class="text-primary">minim = 0, maxim = 360</span>
            </div>
        </div>
    </div>
</div>