<h2>What do I do?</h2>
<br>
This is a short presentation of the functionalities of Go4PDF.
<br><br><br>
<div class="col-xs-6 col-sm-3">
    <p class="step">{{step}} 1</p>
    <a class="my-btn my-btn-round my-btn-upload">
        <i class="icon glyphicon glyphicon-upload"></i>
        <p>{{uploadFiles.title}}</p>
    </a>
    <p>{{uploadFiles.description}}</p>
</div>
<ul>
    <li>upload files by click or drag-and-drop</li>
    <li>log section to see a short report on what has been uploaded, what errors might have appeared</li>
</ul>
<div class="col-xs-6 col-sm-3">
    <p class="step">{{step}} 2</p>
    <a class="my-btn my-btn-round my-btn-output">
        <i class="icon glyphicon glyphicon-file"></i>
        <p>{{outputSettings.title}}</p>
    </a>
    <p>{{outputSettings.description}}</p>
</div>
<div class="col-xs-6 col-sm-3">
    <p class="step">{{step}} 3</p>
    <a class="my-btn my-btn-round my-btn-settings">
        <i class="icon glyphicon glyphicon-duplicate"></i>
        <p>{{filesSettings.title}}</p>
    </a>
    <p>{{filesSettings.description}}</p>
</div>
<div class="col-xs-6 col-sm-3">
    <p class="step">{{step}} 4</p>
    <a class="my-btn my-btn-round my-btn-export">
        <i class="icon glyphicon glyphicon-floppy-save"></i>
        <p>{{exportToPDF.title}}</p>
    </a>
    <p>{{exportToPDF.description}}</p>
</div>