<div class="my-content-container">
    <p class="popover-title my-title">Supported format files</p>
    <ul class="indent">
        <li>
            Writer
            <ul>
                <li>.doc</li>
                <li>.docx</li>
                <li>.odt</li>
                <li>.rtf</li>
                <li>.txt</li>
                <li>.html</li>
                <li>.xml</li>
            </ul>
        </li>
        <li>
            SpreadSheet
            <ul>
                <li>.xls</li>
                <li>.xlsx</li>
                <li>.xlt</li>
                <li>.xla</li>
                <li>.ods</li>
                <li>.xlsb</li>
                <li>.csv</li>
            </ul>
        </li>
        <li>
            Impress
            <ul>
                <li>.ppt</li>
                <li>.pptx</li>
                <li>.pps</li>
                <li>.ppsx</li>
                <li>.sldx</li>
            </ul>
        </li>
        <li>
            Publisher
            <ul>
                <li>.pub</li>
            </ul>
        </li>
        <li>
            Draw
            <ul>
                <li>.tif</li>
                <li>.tiff</li>
                <li>.jpg</li>
                <li>.jpeg</li>
                <li>.png</li>
                <li>.gif</li>
                <li>.bmp</li>
                <li>.sgv</li>
                <li>.svm</li>
                <li>.pcx</li>
            </ul>
        </li>
        <li>
            Maths
            <ul>
                <li>.odf</li>
            </ul>
        </li>
        <text>

        </text>
    </ul>
</div>