<div class="my-content-container">
    <p class="popover-title my-title">{{uploadFiles.title}}</p>
    <br>
    <div>
        <span class="text-primary">{{uploadFiles.extensionsText.part1}}<a href="#!/extensions"><span class="badge">{{uploadFiles.extensionsText.part2}}</span></a>{{uploadFiles.extensionsText.part3}}</span>
        <br>
        <span class="text-primary">{{uploadFiles.toKnow}}
        <br>
         <ul class="indent">
             <li>{{uploadFiles.toKnow1}}</li>
             <li>{{uploadFiles.toKnow2}}</li>
        </ul>
        </span>
    </div>

    <br>
    <div ngf-drop ngf-select ng-model="files" class="my-drop-box-upload"
         ngf-drag-over-class="'dragover-upload'" ngf-multiple="true" ngf-allow-dir="true"
         accept="image/*,application/pdf,text/plain,application/rtf,application/x-rtf,text/richtext,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.oasis.opendocument.text,application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.presentationml.slideshow,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel"
         ngf-pattern="'image/*,application/pdf,text/plain,application/rtf,text/richtext,application/x-rtf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.oasis.opendocument.text,application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.presentationml.slideshow,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel'">
        <p class="arrow"></p>
        <br>
        {{uploadFiles.uploadStyle}}
    </div>
    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
    {{uploadFiles.uploadedFiles}}
    <ul>
        <li ng-repeat="f in files">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
    </ul>
    {{uploadFiles.uploadStatus}}
    <pre>{{log}}</pre>
</div>