html {
    height: 100%;
    box-sizing: content-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
}

.header {
    padding: 20px;
    font-size: 20px;
    vertical-align: middle;
    border-bottom: 2px solid #BEF27E !important;
    margin-bottom: 0 !important;
}

#footer {
    bottom: -700px;
}

#menu {
    padding-top: 20px;
    background-color: #F0F8FF;
}

.app-description {
    margin: 80px 0 20px 0;
    padding: 20px;
    font-size: 20px;
    background-color: #BEF27E;

}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.right {
    float:right;
}

.pdf-export {
    float: left;
    width: 100%;
}

#pdf-viewer {
    float: right;
    width: 100%;
    margin-right: 0;
    max-width:700px;
    height:900px;
}

.stand-out-white {
    border: 2px solid white;
}

.authenticate {
    text-decoration: none !important;
    margin: 20px 5px;
    border-radius: 6px;
    padding: 5px;
    font-size: 24px;

}

.authenticate:hover {
    background-color:white;
    color:#94E234 !important;
}
.authenticate:active {
    background-color:#94E234;
    color:white !important;
    top : 5px;
    position: relative;
}

.login-box {
    max-width:350px;
}
.login {
    background-color:#BEF27E;
}

.white {
    color:white !important;
}

.glyphicon-background-green {
    background-color: #94E234 !important;
}


.my-logo {
    font-size: 18px;
    line-height: 20px;
    float: left; /*keeps the logo small */
}
.my-btn {
    text-decoration: none;
    outline: none !important;
    display: inline-block;
    position: relative;
    height: 90px;
    width: 90px;
    margin: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    /*padding: 30px 12px;*/
}

.my-btn-round {
    text-decoration: none;
    color: inherit;
    position: relative;
    text-align: center;
    border: 1px solid #DFDCE3;
    border-radius: 50%;
    padding: 0;
}

.my-btn-round .icon {
    margin: 10px 0 7px 0;
    text-align: center;
    vertical-align: middle;
}

.my-btn-round p {
    position: absolute;
    width: 100%;
    margin: 0;
    text-align: center;
}

.my-btn-round .badge-files {
    position: absolute;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    margin-left: 5px;
    padding: 0 !important;
    background-color: #06A5EA;
}

.my-content-container {
    max-width: 300px;
    border: 1px solid #e7e7e7;
}

.step {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

/*Big device*/
@media only screen and (min-width: 415px) {
    .my-btn-round {
        height: 90px;
        width: 90px;
        margin: 10px;
    }

    .my-btn-round .icon {
        font-size: 24px;
        text-align: center;
    }

    .my-btn-round p {
        font-size: 12px;
    }

    .my-btn-round .badge-files {
        width: 24px;
        height: 24px;
    }

    .margin {
        margin-left: 30px;
    }

    .my-content-container {
        padding: 10px;
    }
}

/*iPhone 6 Plus*/
@media only screen and (max-width: 414px) {
    .my-btn-round {
        height: 85px;
        width: 85px;
        margin: 10px 2px;
    }

    .my-btn-round .icon {
        font-size: 24px;
        text-align: center;
    }

    .my-btn-round p {
        font-size: 12px;
    }

    .my-btn-round .badge-files {
        width: 24px;
        height: 24px;
    }

    .margin {
        margin-left: 30px !important;
    }
}

/*iPhone 6*/
@media only screen and (max-width: 375px) {
    .my-btn-round {
        height: 76px;
        width: 76px;
        margin: 10px 2px;
    }

    .my-btn-round .icon {
        line-height: 18px;
        font-size: 20px;
    }

    .my-btn-round p {
        font-size: 12px;
    }

    .my-btn-round .badge-files {
        width: 20px;
        height: 20px;
    }
}

/*Samsung S5*/
@media only screen and (max-width: 360px) {
    .my-btn-round {
        height: 72px;
        width: 72px;
        margin: 10px 1px;
    }

    .my-btn-round .icon {
        line-height: 18px;
        font-size: 20px;
    }

    .my-btn-round p {
        font-size: 12px;
    }

    .my-btn-round .badge-files {
        width: 20px;
        height: 20px;
    }


    .margin {
        margin-left: 0 !important;
    }
}

/*iPhone 5*/
@media only screen and (max-width: 320px) {
    .my-btn-round {
        height: 64px;
        width: 64px;
        margin: 10px 0px;
    }

    .my-btn-round .icon {
        line-height: 18px;
        font-size: 18px;
    }

    .my-btn-round p {
        font-size: 10px;
    }

    .my-btn-round .badge-files {
        width: 20px;
        height: 20px;
    }


    .margin {
        margin-left: 0 !important;
    }
}

.my-btn-round-xs {
    text-decoration: none;
    position: relative;
    height: 50px;
    width: 50px;
    margin: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #DFDCE3;
    border-radius: 50%;
    padding: 15px 8px;
}

.my-btn-upload {
    background: #FF5050;
    border-color: #CE0B0B;
}

.my-btn-upload:hover {
     background-color:red;
     color:white !important;
 }
.my-btn-upload:active {
    background-color:red;
    color:white !important;
    top : 5px;
    position: relative;
}

.my-btn-output {
    background: #FFF384;
    border-color: #FFE500;
}

.my-btn-output:hover {
    background-color:#FFE500;
    color:white !important;
}
.my-btn-output:active {
    background-color:#FFE500;
    color:white !important;
    top : 5px;
    position: relative;
}

.my-btn-settings {
    background: #7DD8E5;
    border-color: #57AEDC;
}

.my-btn-settings:hover {
    background-color:#57AEDC;
    color:white !important;
}
.my-btn-settings:active {
    background-color:#57AEDC;
    color:white !important;
    top : 5px;
    position: relative;
}

.my-btn-export {
    background: #BEF27E;
    border-color: #94E234;
}

.my-btn-export:hover {
    background-color:#94E234;
    color:white !important;
}
.my-btn-export:active {
    background-color:#94E234;
    color:white !important;
    top : 5px;
    position: relative;
}

.my-btn-green {
    background: #BEF27E;
    border-color: #94E234;
}

.my-btn-green:hover {
    background-color:#94E234;
    color:white !important;
}
.my-btn-green:active {
    background-color:#94E234;
    color:white !important;
    top : 5px;
    position: relative;
}

/*Other styles*/
ul {
    padding: 0;
}

/*Output settings*/
.save-pdf-settings {
    position: inherit;
    bottom: 10px;
    right: 10px;
}

.my-btn-square {
    height: 30px;
    width: 30px;
    margin: 5px;
    border: 1px solid #DFDCE3;
    border-radius: 50%;
}

.my-btn-square i {
    margin: 0 9px;
}

.my-title {
    font-weight: bold;
}

.my-drop-box-upload  {
    text-decoration: none;
    position: relative;
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 80px;
    text-align: center;
    line-height: 10px;
    padding-top: 10px;
    margin: 10px 0 10px 10px;
}

.dragover-upload {
    border: 5px dashed #FF5050;
}

p.arrow {
    width: 20px;
    height: 20px;
    margin-left: 80px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transform: rotate(45deg);
    text-align: center !important;
}
.my-drop-box-watermark {
    position: relative;
    background: #FFFED6;
    border: 5px dashed #FFE500;
    max-width: 200px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    margin: 10px 0 10px 10px;
}

.my-drop-box-watermark .delete-button {
     position: absolute;
     right: 0;
     top: 0;

 }

.my-theme-red {
    background-color: #FF5050;
    color: #FFFFFF;
}

.my-theme-yellow {
    background-color: #FFF384;
    color: #000;
}

.my-panel-content {
    background-color: #E4F8FF;
}

.index {
    background-color: #000000 !important;
    color: #FFFFFF !important;
}

.my-slider {
    width: 100px !important;
}

.my-nav-item {
    padding: 5px 10px !important;
    margin-bottom: 10px;
}

.nav-pills > li.active > .my-nav-item, .nav-pills > li.active > .my-nav-item:hover, .my-nav-item:hover {
    background-color: #FFF384 !important;
}

.my-blue-nav-item {
    padding: 5px 10px !important;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;

}

.nav-pills > li.active > .my-blue-nav-item, .nav-pills > li.active > .my-blue-nav-item:hover, .my-blue-nav-item:hover {
    background-color: #7DD8E5 !important;
}

.left-blue-contour {
    border-left: 2px solid #7DD8E5;
    margin-left: 10px;
    padding-left: 10px;
}

.my-blue-left-border {
    border-left: 3px solid #7DD8E5;
    margin-bottom: 10px;
}

.bottom-blue-border{
    padding-bottom: 10px;
    border-bottom: 2px solid #7DD8E5;
    margin-bottom: 10px;
}

a {
    color: #0a0a0a !important;
}

.input {
    margin-left: 20px !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}

.yellow-border {
    border: 3px solid #FFF384;
    margin: 0 5px;
    padding-top: 5px;
    padding-left: 5px;
}

.image-picker-container{
    margin-top: 10px;
    width: 215px;
}

.thumbnail {
    margin-bottom: 0 !important;
}

.my-input-sm {
    padding: 0 5px;
    font-size: 12px;
    line-height: 1;
    border-radius: 3px;
    width: 80px !important;
}

#position-absolute-inputs {
    padding: 10px;
    max-width: 200px;
}

#position-absolute-inputs-blue{
    padding: 10px;
    max-width: 200px;
}

.margin-top {
    margin-top: 10px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.margin-left {
    margin-left: 10px;
}

.my-card-box {
    position: relative;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    font-size: 11px;
}

.yellow {
    background: #FFFED6;
}

.light-blue {
    background: #c9f8ff;
}

.my-left-border {
    border-left: 3px solid #FFF384;
    margin-bottom: 10px;
}

.inline {
    display: inline !important;
}

.scale-40 {
    width: 30% !important;
}

.scale-addon {
    width: 30px !important;
}

.red-font {
    color: #FF5050;
}

#pdf-generation-progress-circle {
    position: relative;
    width: 90px;
    height: 90px;

}

/*progress bar*/
.pdf-generation-progress-circle {
    display: inline-block;
    width: 100px;
    margin: 25px;
}
.circle {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    display: inline-block;
    position: relative;
    text-align: center;
}
.circle canvas {
    vertical-align: middle;
}
.circle div {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}
.circle strong i {
    font-style: normal;
    font-size: 0.6em;
    font-weight: normal;
}
.circle span {
    display: block;
    color: #aaa;
    margin-top: 12px;
}

/*or this*/
.progress {
    overflow: visible;
}
.progress-bar {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.progress-bar:after {
    content:"";
    background-color: darkgreen;

    width: 30px;
    height: 30px;
    margin-right: -15px;         /* - 30/2 */
    margin-top: -5px;            /* - (30-20)/2 */
    -webkit-border-radius: 15px; /* 30/2 */
    -moz-border-radius: 15px;
    border-radius: 15px;

    float: right;
}

.indent li{
    margin-left: 30px;
}

.indent li li{
    margin-left: 30px;
}
